{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>
    {% block style %}{% endblock style %}

    {% tailwind_css %}

</head>
<body>
<header class="">
    {% comment %} <block class="bg-red-500 w-full p-">
        КАР КАР КАР
    </block> {% endcomment %}
</header>
{% block content %}
{% endblock content %}
</body>
</html>
